<div class="container">
  <div class="row">
    <div class="col">
      <section>
      </section>
      <section class="main">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Phone No</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <th scope="row">{{employee.id}}</th>
              <td>{{employee.firstName}}</td>
              <td>{{employee.phoneNo}}</td>
              <td>{{employee.email}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>